@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160, 18%, 90%;
    --foreground: 150, 20%, 2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 150, 20%, 2%;

    --popover: 0 0% 100%;
    --popover-foreground: 150, 20%, 2%;

    --border: 214.3 31.8% 91.4%;
    --input: 150, 20%, 2%;

    --card: 0 0% 100%;
    --card-foreground: 150, 20%, 2%;

    --primary: 158, 17%, 78%;
    --primary-foreground: 150, 20%, 2%;

    --secondary: 159, 17%, 84%;
    --secondary-foreground: 150, 20%, 2%;

    --accent: 158, 17%, 44%;
    --accent-foreground: 150, 20%, 2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 150, 20%, 2%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 158, 17%, 9%;
    --foreground: 160, 18%, 90%;

    --muted: 223 47% 11%;
    --muted-foreground: 160, 18%, 90%;

    --accent: 157, 17%, 74%;
    --accent-foreground: 160, 18%, 90%;

    --popover: 224 71% 4%;
    --popover-foreground: 160, 18%, 90%;

    --border: 216 34% 17%;
    --input: 160, 18%, 90%;

    --card: 224 71% 4%;
    --card-foreground: 160, 18%, 90%;

    --primary: 158, 17%, 78%;
    --primary-foreground: 160, 18%, 90%;

    --secondary: 150, 20%, 4%;
    --secondary-foreground: 160, 18%, 90%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 160, 18%, 90%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
